<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingpad"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <application
        android:name="com.kingpad.KingPadApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
         <activity
            android:name="com.kingPadStudy.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="landscape"  >
         </activity>
         <activity
            android:name="com.kingPadStudy.activity.KingPadStudyActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="landscape"  > 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrintEngine"
            android:label="@string/title_activity_king_pad"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <service 
            android:name="com.kingPadStudy.service.DownloadService" >
        </service>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>